.card {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    padding: 15px;
    border-radius: var(--borderRadius);
    background-color: #fff;
    box-shadow: var(--boxShadow);
}
