.field {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.field *,
.field-error * {
    font-size: 16px !important;
}

.field-error {
    display: none;
    flex-direction: row;
    gap: 5px;
    color: #f00;
}

.field label {
    font-weight: bold;
}

.field input,
.field select,
.field textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: var(--borderRadius);
}

.field select {
    cursor: pointer !important;
}

.field textarea {
    resize: none;
    height: 100px;
}

.field input:focus,
.field select:focus,
.field textarea:focus {
    border-color: #bbb;
    box-shadow: var(--boxShadow);
}

.field-row {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: var(--borderRadius);
}

.field-row label,
.field-row input[type="checkbox"],
.field-row input[type="radio"],
.field-row input[type="color"] {
    cursor: pointer;
}

/* Usage
    <div class="field">
        <input id="signin-phone" class="phone-mask" type="tel" placeholder="(00) 00000-0000" disabled>
    </div>

    <div class="field-row">
        <input id="signin-save" type="checkbox" value="null" checked>
        <label for="signin-save">Gravar acesso</label>
    </div>
    
    <div id="signin-error" class="field-error">
        <i class="bi bi-exclamation-circle-fill"></i>
        <span>Error</span>
    </div>
*/
