:root {
    --gridGap: 15px;
}

.grid {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
  
.row {
    display: flex;
    flex-wrap: wrap;
}
  
.col { flex: 1; }
  
.col-25 { flex: 0 0 calc(25% - var(--gridGap)); }
.col-33 { flex: 0 0 calc(33.33% - var(--gridGapp)); }
.col-50 { flex: 0 0 calc(50% - var(--gridGap)); }
.col-66 { flex: 0 0 calc(66.67% - var(--gridGap)); }
.col-75 { flex: 0 0 calc(75% - var(--gridGap)); }
.col-100 { flex: 0 0 calc(100% - var(--gridGap)); }

@media (max-width: 1200px) {
    .col { flex: 0 0 50%; }
    .col-100 { flex: 0 0 100%; }
}

@media (max-width: 768px) {
    .col { flex: 0 0 100%; }
}

/* Usage
    <main class="grid">
        <section class="row">
            <div class="col col-25">
                item
            </div>
            <div class="col col-25">
                item
            </div>
            <div class="col col-25">
                item
            </div>
            <div class="col col-25">
                item
            </div>
        </section>
    </main>
*/
